html {
  color: #232333;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6em;
}

body {
  display: block;
  margin: 8px;
  color: white;
  background-color: #1D2330;
}

p {
  line-height: 1.5;
}

hr {
  border: 0;
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid rebeccapurple;
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

nav a,
a {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-bottom-color: #98c379;
}

ul {
  list-style: none;
  padding-left: 2ch;
}

ul li {
  text-indent: -2ch;
}

ul > li::before {
  content: '* ';
  font-weight: bold;
}

.table-container {
  overflow-x: scroll;
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

th td {
  white-space: nowrap;
  width: calc(50% - .5em);
  display: inline-block;
  overflow: auto;
}

table {
  width: 100%;
}

table#files,#branches,#tags {
  width: unset;
}

table tr th {
  background:#3e4452;
  padding:0;
  border: #111 solid 1px;
  text-align: center;
  font-weight: bold;
}

table tr td {
  border: none;
}

a img {
  border: 3px solid #ad69af;
  max-width: 100%;
}


a:hover img {
  border: 3px solid #98c379;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}

figure h4::before {
  content: '↳ ';
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: #ad69af;
  color: white;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 0 1ch;
  word-wrap: break-word;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
}

header .main {
  font-size: 1.5rem;
}

header a {
  border: none;
}

header nav a {
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-bottom-color: #98c379;
}

footer a {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
}

footer {
  margin-top: 1em;
}

.title h1 {
  margin-bottom: 0;
}

time {
  color: grey;
}

.callout {
  background-color: dodgerblue;
  color: #fff;
  padding: 1em;
}

.callout p {
  margin: 0;
}

.callout a {
  border-bottom: 3px solid #fff;
}

.callout a:hover {
  background-color: #fff;
  color: dodgerblue;
}

.site-description {
  display: flex;
  justify-content: space-between;
}

.tags li::before {
  content: "🏷 ";
}

svg {
  max-height: 15px;
}

.draft-label {
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
}

.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

::-moz-selection {
  background: #98c379;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #98c379;
  color: #fff;
  text-shadow: none;
}

hr {
  border-top: 3px dotted #8b8b97;
}

code {
  background-color: #ad69af;
  color: white;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}

pre, #blob {
  background-color: #282a36;
  line-height: 1.4;
  overflow-x: auto;
  font-size: 0.9em;
  padding: 10px;
}

.line {
  border: none;
}

.A,
span.i,
pre a.i {
  color: #98c379;
}

pre a.i:hover {
  color: #000;
}

.D,
span.d,
pre a.d {
  color: #fd5656;
}

pre a  {
  border: none;
}

blockquote {
  border-color: #7a9f60;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}

h1::before {
  color: #98c379;
  content: "# ";
}

h2::before {
  color: #98c379;
  content: "## ";
}

h3::before {
  color: #98c379;
  content: "### ";
}

h4::before {
  color: #98c379;
  content: "#### ";
}

h5::before {
  color: #98c379;
  content: "##### ";
}

h6::before {
  color: #98c379;
  content: "###### ";
}

a {
  color: inherit;
}

a:hover {
  background-color: #98c379;
  color: black;
}

.site-description a {
  color: #ddd;
}

.site-description a:hover {
  color: black;
}

.tags a:hover {
  background-color: #98c379;
  color: black;
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.soc {
  margin-right: 5px;
}

.soc:hover {
  color: black;
}

.clone {
  color: grey;
  font-size: 0.7em;
  line-height: 0.8;
  padding-bottom: 5px;
}

.meta {
  color: grey;
}

.draft-label {
  color: #98c379;
  background-color: blue;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}

.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background: #f71e6a;
  color: white;
}

.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background: #ad69af;
  color: white;
}

.highlight pre code[class*='language-json']::before {
  content: 'json';
  background: dodgerblue;
  color: #000000;
}

.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background: blue;
  color: yellow;
}

.highlight pre code[class*='language-css']::before {
  content: 'css';
  background: cyan;
  color: black;
}

.highlight pre code[class*='language-go']::before {
  content: 'Go';
  background: cyan;
  color: royalblue;
}

.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before {
  content: 'Markdown';
  background: royalblue;
  color: whitesmoke;
}

pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }

.hll { background-color: #ffffcc }
.c { color: #7f848e } /* comment */
.err { color: #abb2bf } /* error */
.esc { color: #abb2bf } /* escape */
.g { color: #abb2bf } /* generic */
.k { color: #c678dd } /* keyword */
.l { color: #abb2bf } /* literal */
.n { color: #e06c75 } /* name */
.o { color: #56b6c2 } /* operator */
.x { color: #abb2bf } /* other */
.p { color: #abb2bf } /* punctuation */
.ch { color: #7f848e } /* comment.hashbang */
.cm { color: #7f848e } /* comment.multiline */
.cp { color: #7f848e } /* comment.preproc */
.cpf { color: #7f848e } /* comment.preprocfile */
.c1 { color: #7f848e } /* comment.single */
.cs { color: #7f848e } /* comment.special */
.gd { color: #abb2bf } /* generic.deleted */
.ge { color: #abb2bf } /* generic.emph */
.gr { color: #abb2bf } /* generic.error */
.gh { color: #abb2bf } /* generic.heading */
.gi { color: #abb2bf } /* generic.inserted */
.go { color: #abb2bf } /* generic.output */
.gp { color: #abb2bf } /* generic.prompt */
.gs { color: #abb2bf } /* generic.strong */
.gu { color: #abb2bf } /* generic.subheading */
.gt { color: #abb2bf } /* generic.traceback */
.kc { color: #e5c07b } /* keyword.constant */
.kd { color: #c678dd } /* keyword.declaration */
.kn { color: #c678dd } /* keyword.namespace */
.kp { color: #c678dd } /* keyword.pseudo */
.kr { color: #c678dd } /* keyword.reserved */
.kt { color: #e5c07b } /* keyword.type */
.ld { color: #abb2bf } /* literal.date */
.m { color: #d19a66 } /* literal.number */
.s { color: #98c379 } /* literal.string */
.na { color: #e06c75 } /* name.attribute */
.nb { color: #e5c07b } /* name.builtin */
.nc { color: #e5c07b } /* name.class */
.no { color: #e06c75 } /* name.constant */
.nd { color: #61afef } /* name.decorator */
.ni { color: #e06c75 } /* name.entity */
.ne { color: #e06c75 } /* name.exception */
.nf { color: #61afef; font-weight: bold } /* name.function */
.nl { color: #e06c75 } /* name.label */
.nn { color: #e06c75 } /* name.namespace */
.nx { color: #e06c75 } /* name.other */
.py { color: #e06c75 } /* name.property */
.nt { color: #e06c75 } /* name.tag */
.nv { color: #e06c75 } /* name.variable */
.ow { color: #56b6c2 } /* operator.word */
.p-marker { color: #abb2bf } /* punctuation.marker */
.w { color: #abb2bf } /* text.whitespace */
.mb { color: #d19a66 } /* literal.number.bin */
.mf { color: #d19a66 } /* literal.number.float */
.mh { color: #d19a66 } /* literal.number.hex */
.mi { color: #d19a66 } /* literal.number.integer */
.mo { color: #d19a66 } /* literal.number.oct */
.sa { color: #98c379 } /* literal.string.affix */
.sb { color: #98c379 } /* literal.string.backtick */
.sc { color: #98c379 } /* literal.string.char */
.dl { color: #98c379 } /* literal.string.delimiter */
.sd { color: #98c379 } /* literal.string.doc */
.s2 { color: #98c379 } /* literal.string.double */
.se { color: #98c379 } /* literal.string.escape */
.sh { color: #98c379 } /* literal.string.heredoc */
.si { color: #98c379 } /* literal.string.interpol */
.sx { color: #98c379 } /* literal.string.other */
.sr { color: #98c379 } /* literal.string.regex */
.s1 { color: #98c379 } /* literal.string.single */
.ss { color: #98c379 } /* literal.string.symbol */
.bp { color: #e5c07b } /* name.builtin.pseudo */
.fm { color: #56b6c2; font-weight: bold } /* name.function.magic */
.vc { color: #e06c75 } /* name.variable.class */
.vg { color: #e06c75 } /* name.variable.global */
.vi { color: #e06c75 } /* name.variable.instance */
.vm { color: #e06c75 } /* name.variable.magic */
.il { color: #d19a66 } /* literal.number.integer.long */
